#hero {
  margin: -0.5rem 0 0;
  position: relative;
  img {
    width: 100%;
    @include max-screen(1440px) {
      width: auto;
      max-width: 100%;
      height: 25%;
    }
    @include max-screen(768px) {
      max-width: auto;
      height: auto;
    }
  }
  .wrapper {
    position: relative;
  }
  .block {
    color: $text-colour;
    width: 40%;
    @include max-screen(1440px) {
      width: 60%;
      top: 1rem;
    }
    @include max-screen(768px) {
      display: none;
    }
    background: rgba(black, 0.4);
    border-radius: $border-radius * 2;
    padding: 0.8rem;
    position: absolute;
    top: 1rem;
    right: 3rem;
    text-align: center;
    .title {
      margin: 1rem 0 1.8rem;
      font-size: 2rem;
      font-weight: normal;
    }
    .description {
      font-size: 0.9rem;
      padding: 0 2rem;
      line-height: 1.5rem;
      text-align: left;
    }
    .btn {
      margin: 1.1rem 0;
    }
  }
}

