// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
$brand-colour: #3e4e5c;
$brand-colour-dark: #35424c;
$brand-colour-light: #749ab4;
$brand-grey: #9e9e9e;
$text-colour: #fff;

$shadow-inner: #303c45;
$shadow-outer: #819eb1;

$logo-title-size: 1.5rem;
$logo-strapline-size: 0.8rem;

$border-radius: 0.3rem;

html, body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

$headerHeight: 114px;
$headerPadding: 20px;

#header {
  background: url('../images/header-bg.png');
  height: ($headerPadding * 2) - $headerHeight;
  padding: $headerPadding 0;
  overflow: auto;
  color: $text-colour;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  position: relative;
  z-index: 100;
  #logo {
    width: 18rem;
    float: left;
  }
  .logo {
    width: 3rem;
    float: left;
    margin: 0 1rem 0 0;
  }
  .title, .strapline {
    display: block;
  }
  .title {
    font-size: $logo-title-size;
  }
  .strapline {
    color: $brand-colour-light;
    font-size: $logo-strapline-size;
    font-style: italic;
    padding: 0.2rem 0 0;
  }
  xyz-login-button .btn {
    font-size: 0.8rem;
    padding: 0.9rem;
    margin: 0.3rem;
  }
}

#header .menu {
  float: left;
  font-size: 1.2rem;
  margin: -1rem 0 0 1.5rem;
  ul {
    margin-bottom: 0;
  }
  li {
    display: inline-block;
  }
  a {
    color: $text-colour;
    text-decoration: none;
    padding: 0.7rem 1rem;
    display: inline-block;
    &:hover {
      background: $brand-colour-dark;
      border-radius: $border-radius;
      box-shadow: 0 1px 1px rgba($shadow-outer, 0.3),
                  inset 0px 1px 3px $shadow-inner;
    }
  }
}

#hero {
  margin: -0.5rem 0 0;
  position: relative;
  img {
    width: 100%;
  }
  .wrapper {
    position: relative;
  }
  .block {
    color: $text-colour;
    width: 40%;
    background: rgba(black, 0.4);
    border-radius: $border-radius * 2;
    padding: 0.8rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    text-align: center;
    .title {
      margin: 1rem 0 1.8rem;
      font-size: 2rem;
      font-weight: normal;
    }
    .description {
      font-size: 0.9rem;
      padding: 0 2rem;
      line-height: 1.5rem;
      text-align: left;
    }
    .btn {
      margin: 1.1rem 0;
    }
  }
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  color: $text-colour;
  text-decoration: none;
  background: $brand-colour;
  text-transform: uppercase;
  border-radius: $border-radius;
  font-size: 1.2rem;
  box-shadow: inset 0 1px 1px rgba(white, 0.5),
              0 1px 1px rgba(black, 0.2);;
  &:hover {
    cursor: pointer;
  }
  &.btn-success {
    $top: #1f9108;
    $bottom: #256717;
    background: linear-gradient(180deg, $top, $bottom);
    &:hover {
      background: linear-gradient(180deg, darken($top, 2%), darken($bottom, 2%));
    }
  }
  &.btn-warning {
    $top: #cc0000;
    $bottom: #a70000;
    background: linear-gradient(180deg, $top, $bottom);
    &:hover {
      background: linear-gradient(180deg, darken($top, 5%), darken($bottom, 5%));
    }
  }
}

#content {
  .title {
    text-align: center;
  }
  .level {
    margin: 0rem 0;
    padding: 1rem 0;
    overflow: auto;
    background: #ededed;
  }
  .level .wrapper > .title {
    font-size: 1.3rem;
    color: $brand-colour;
    padding: 0 0 1rem;
  }
  .course {
    width: percentage(1/6);
    float: left;
  }
  .course .thumb {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 3px solid white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  .course .title {
    font-weight: 400;
    font-size: 1rem;
    color: #000;
  }
  .level:nth-child(even) {
    background: white;
  }
}
