// bower:scss
// endbower
html, body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

$headerHeight: 114px;
$headerPadding: 20px;

#header {
  background: url('../images/header-bg.png');
  height: ($headerPadding * 2) - $headerHeight;
  padding: $headerPadding 0;
  overflow: auto;
  .logo {
    width: 3rem;
    float: left;
    margin: 0 1rem 0 0;
  }
  .title, .strapline {
    display: block;
  }
}

#content {
  .title {
    text-align: center;
  }
  .level {
    margin: 0rem 0;
    padding: 1rem 0;
    overflow: auto;
    background: #ededed;
  }
  .level > .title {
    font-size: 1.3rem;
  }
  .course {
    width: percentage(1/6);
    float: left;
  }
  .course .thumb {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 3px solid white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  .course .title {
    font-weight: 400;
    font-size: 1rem;
  }
  .level:nth-child(even) {
    background: white;
  }
}
