<div id="hero">
  <div class="wrapper">
    <div class="block">
      <h4 class="title">Les cours de piano.</h4>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        In vitae ligula sit amet turpis volutpat. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. In vitae ligula sit amet
        turpis volutpat. In vitae ligula sit amet turpis volutpat.
      </p>
      <a href="#" class="btn btn-warning">Decouvrez</a>
    </div>
  </div>
  <img src="images/hero.jpg">
</div>
